 
mat-form-field {
  margin-right: 1rem;
}
.address-field {
  width: 420px;
}
.mat-card {
  -webkit-box-shadow: 2px 3px 6px 1px rgba(0,0,0,0.58);
  -moz-box-shadow: 2px 3px 6px 1px rgba(0,0,0,0.58);
  box-shadow: 2px 3px 6px 1px rgba(0,0,0,0.58);
}
 

.mat-card-header .mat-card-title  {
  font-size: 1.5rem;
  font-weight: bold;
}
 
.grid-container {  
  margin: 1rem;  
}  
.dashboard-card {  
  position: absolute;  
  top: 10px;  
  left: 10px;  
  right: 10px;  
  bottom: 10px;  
  color: #003eaa
}  
.card {  
  margin: 10px;
  color: #003eaa
}  
.more-button {  
  position: absolute;  
  top: 5px;  
  right: 10px;  
}  
.dashboard-card-content {  
  text-align: center;  
  font-size: 1.5rem;
  font-weight: bold;
  
}
.dashboard-card-content-send {  
  text-align: center;  
  font-size: 1.1rem;
  font-weight: bold;
}

.buttonSend {
  background-color: #f07550;
  color: white;
}
.token{
  color: #3b3b3b
}
.options-button{
  text-align: right
}

.mat-card-actions {
	display: flex;
	box-sizing:border-box;
	align-items: center;
}
