.buttonSend {
  background-color: #f07550;
  color: white;
}
   
.mat-card {
  -webkit-box-shadow: 2px 3px 6px 1px rgba(0,0,0,0.58);
  -moz-box-shadow: 2px 3px 6px 1px rgba(0,0,0,0.58);
  box-shadow: 2px 3px 6px 1px rgba(0,0,0,0.58);
}
