/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
 
mat-form-field {
    margin-right: 1rem;
    width: 95%;
  }
   
  .mat-card {
    -webkit-box-shadow: 2px 3px 6px 1px rgba(0,0,0,0.58);
    -moz-box-shadow: 2px 3px 6px 1px rgba(0,0,0,0.58);
    box-shadow: 2px 3px 6px 1px rgba(0,0,0,0.58);
  }
   
  
  .mat-card-header .mat-card-title  {
    font-size: 1.5rem;
    font-weight: bold;
  }
   
  .grid-container {  
    margin: 1rem;  
  }
  .card {  
    margin: 10px;
    color: #003eaa
  }  
  .more-button {  
    position: absolute;  
    top: 5px;  
    right: 10px;  
  }  
  .dashboard-card-content {  
    font-size: 1.5rem;
    font-weight: bold;
    
  }
  .wallet-card-content {  
    font-size: 1.5rem;
    font-weight: bold;
    
  }
  .dashboard-card-content-send {  
    text-align: center;  
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  
  .token{
    color: #3b3b3b
  }
  .options-button{
    text-align: right
  }
  
  .mat-card-actions {
      display: flex;
      box-sizing:border-box;
      align-items: center;
  }
  
  @media only screen and (max-width: 730px) {
    .dashboard-card-content {  
      font-size: 1.2rem;
      font-weight: bold;
      
    }
    .wallet-card-content {  
      font-size: 1rem;
      font-weight: bold;
      
    }
    .dashboard-card-content-send {  
      text-align: left;  
      font-size: 0.9rem;
      font-weight: bold;
    }
    
  }
  
  @media only screen and (max-width: 450px) {
    .dashboard-card-content {  
      font-size: 1rem!important;
      font-weight: bold;
      
    }
    .wallet-card-content {  
      font-size: 0.8rem!important;
      font-weight: bold;
      
    }
    mat-card-title {  
      font-size: 0.9rem!important;
      font-weight: bold;
      
    }
    mat-icon {
      font-size: 1.1rem!important;
    }
  
  }
  
  @media only screen and (max-width: 330px) {
    .dashboard-card-content {  
      font-size: 1rem!important;
      font-weight: bold;
      
    }
    .wallet-card-content {  
      font-size: 0.6rem!important;
      font-weight: bold;
      
    }
    mat-card-title {  
      font-size: 0.9rem!important;
      font-weight: bold;
      
    }
    mat-icon {
      font-size: 0.9rem!important;
    }
  
  }